In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

## Disable Warnings

In [2]:
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter("ignore")

## Loading Data

In [3]:
movies = pd.read_csv("movies.dat", delimiter = "::")

In [4]:
movies.columns = ["ID", "Title", "Genre"]

In [5]:
movies

,ID,Title,Genre
0,10,La sortie des usines Lumière (1895),Documentary|Short
1,12,The Arrival of a Train (1896),Documentary|Short
2,25,The Oxford and Cambridge University Boat Race ...,NaN
3,91,Le manoir du diable (1896),Short|Horror
4,131,Une nuit terrible (1896),Short|Comedy|Horror
...,...,...,...
37336,14499632,22 vs. Earth (2021),Animation|Short|Adventure
37337,14527836,Recalled (2021),Drama|Mystery|Thriller
37338,14544192,Bo Burnham: Inside (2021),Comedy|Drama|Music
37339,14735160,Mum is Pregnant (2021),NaN
37340,14740904,Juanes: Origen (2021),Documentary

In [6]:
movies.isna().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of           ID  Title  Genre
0      False  False  False
1      False  False  False
2      False  False   True
3      False  False  False
4      False  False  False
...      ...    ...    ...
37336  False  False  False
37337  False  False  False
37338  False  False  False
37339  False  False   True
37340  False  False  False

[37341 rows x 3 columns]>

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37341 entries, 0 to 37340
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      37341 non-null  int64
 1   Title   37341 non-null  object
 2   Genre   37270 non-null  object
dtypes: int64(1), object(2)
memory usage: 875.3+ KB

In [8]:
movies.describe()

                 ID
count  3.734100e+04
mean   2.327134e+06
std    2.767504e+06
min    1.000000e+01
25%    1.167450e+05
50%    1.377575e+06
75%    3.521148e+06
max    1.474090e+07

In [9]:
movies.isnull().sum()

ID        0
Title     0
Genre    71
dtype: int64

In [10]:
movies = movies.dropna()

In [11]:
ratings = pd.read_csv("ratings.dat", delimiter = "::")

In [12]:
ratings.columns = ["User", "ID", "Ratings", "Timestamp"]

In [13]:
ratings

         User       ID  Ratings   Timestamp
0           2   499549        9  1376753198
1           2  1305591        8  1376742507
2           2  1428538        1  1371307089
3           3    75314        1  1595468524
4           3   102926        9  1590148016
...       ...      ...      ...         ...
906825  70781  9893250       10  1613857551
906826  70781  9898858        3  1585958452
906827  70782   172495       10  1587107015
906828  70782   414387       10  1587107852
906829  70783  1623205        6  1362832655

[906830 rows x 4 columns]

In [14]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906830 entries, 0 to 906829
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   User       906830 non-null  int64
 1   ID         906830 non-null  int64
 2   Ratings    906830 non-null  int64
 3   Timestamp  906830 non-null  int64
dtypes: int64(4)
memory usage: 27.7 MB

In [15]:
ratings.describe()

                User            ID        Ratings     Timestamp
count  906830.000000  9.068300e+05  906830.000000  9.068300e+05
mean    35597.089417  2.239038e+06       7.315742  1.462485e+09
std     20522.966156  2.122506e+06       1.852980  7.182300e+07
min         2.000000  8.000000e+00       0.000000  1.362062e+09
25%     18147.000000  7.650100e+05       6.000000  1.397069e+09
50%     35396.000000  1.723121e+06       8.000000  1.451972e+09
75%     53034.000000  2.938956e+06       9.000000  1.518231e+09
max     70783.000000  1.474090e+07      10.000000  1.623118e+09

In [16]:
ratings.isna().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of          User     ID  Ratings  Timestamp
0       False  False    False      False
1       False  False    False      False
2       False  False    False      False
3       False  False    False      False
4       False  False    False      False
...       ...    ...      ...        ...
906825  False  False    False      False
906826  False  False    False      False
906827  False  False    False      False
906828  False  False    False      False
906829  False  False    False      False

[906830 rows x 4 columns]>

In [17]:
ratings.isnull().sum()

User         0
ID           0
Ratings      0
Timestamp    0
dtype: int64

In [19]:
data = pd.merge(movies, ratings, on=["ID", "ID"])
print(data.head())

   ID                                Title              Genre   User  Ratings  \
0  10  La sortie des usines Lumière (1895)  Documentary|Short  70577       10
1  12        The Arrival of a Train (1896)  Documentary|Short  69535       10
2  91           Le manoir du diable (1896)       Short|Horror   5814        6
3  91           Le manoir du diable (1896)       Short|Horror  37239        5
4  91           Le manoir du diable (1896)       Short|Horror  54465        7

    Timestamp
0  1412878553
1  1439248579
2  1385233195
3  1532347349
4  1562928526

In [20]:
ratings = data["Ratings"].value_counts()
numbers = ratings.index
quantity = ratings.values