In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB, MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer

import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter("ignore")

In [2]:
data = pd.read_csv("Youtube04-Eminem.csv")

In [3]:
data

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z12rwfnyyrbsefonb232i5ehdxzkjzjs2,Lisa Wellas,NaN,+447935454150 lovely girl talk to me xxx﻿,1
1,z130wpnwwnyuetxcn23xf5k5ynmkdpjrj04,jason graham,2015-05-29T02:26:10.652000,I always end up coming back to this song<br />﻿,0
2,z13vsfqirtavjvu0t22ezrgzyorwxhpf3,Ajkal Khan,NaN,"my sister just received over 6,500 new <a rel=...",1
3,z12wjzc4eprnvja4304cgbbizuved35wxcs,Dakota Taylor,2015-05-29T02:13:07.810000,Cool﻿,0
4,z13xjfr42z3uxdz2223gx5rrzs3dt5hna,Jihad Naser,NaN,Hello I&#39;am from Palastine﻿,1
...,...,...,...,...,...
443,LneaDw26bFu3RCmyrWyP9S6wh1h9dBv3X95g1HzKAb4,Dany PK,NaN,SUBSCRIBE TO MY CHANNEL X PLEASE!. SPARE,1
444,LneaDw26bFsD65dtIvAEObWYIYnFTqQDKBek_Ypz3J8,SmexyFriedChicken,NaN,Check out my videos guy! :) Hope you guys had ...,1
445,LneaDw26bFuvs-8oWkLpAFa6g3QHpWD8k7sbbMP3Bg8,The Guy That's Done Everything,NaN,3 yrs ago I had a health scare but thankfully ...,1
446,z12hfp2wmyuqztkw504cgblyxtbsxjuzeow0k,Jesse Pinkman,2015-05-06T11:42:44.601000,Rihanna looks so beautiful with red hair ;)﻿,0
447,z13tsbc5vvn0hdozz04chjt51lq1cvris0k,Gaming Gaming,2015-05-06T10:56:35.972000,857.482.940 views AWESOME !!!!!!!!!!!!!!!!!!!!...,0

In [4]:
data.isnull().sum()

COMMENT_ID      0
AUTHOR          0
DATE          245
CONTENT         0
CLASS           0
dtype: int64

In [5]:
data = data[["CONTENT", "CLASS"]]
data.sample(10)

                                               CONTENT  CLASS
145                                 awesome song ever﻿      0
357                            I love the way you lie﻿      0
389                                     Eminem rocks!﻿      0
400                                            ❤️❤️❤️﻿      0
225                                 is that Megan fox﻿      0
177                      Who is watching in 2015 like﻿      0
20   This song is about Rape and Cheating     <br /...      0
402                                   beautiful song!﻿      0
415                              I love eminem  &lt;3﻿      0
71                   Check out this video on YouTube:﻿      1

In [6]:
data["CLASS"] = data["CLASS"].map({0:"Not Spam",
                                  1:"Spam Comment"})
data.sample(10)

                                               CONTENT         CLASS
146                                              love﻿      Not Spam
347  Hey everyone check out my channel leave a like...  Spam Comment
340  *****PLEASE READ*****  Hey everyone! I&#39;m a...  Spam Comment
142  Share Eminem&#39;s Artist of the Year video so...  Spam Comment
23   OMG that looks just like a piece of the mirror...      Not Spam
42   Check out this video on YouTube<br /><br /><br...  Spam Comment
264  YO GUYS IM 14 YEAR OLD RAPPER JUST STARTED RAP...  Spam Comment
181  You guys should check out this EXTRAORDINARY w...  Spam Comment
165                  2008-2010 were the years for pop﻿      Not Spam
250                       SubScribe me pls EMİNEM FANS  Spam Comment

In [8]:
x = np.array(data["CONTENT"])
y = np.array(data["CLASS"])

In [9]:
cv = CountVectorizer()
x = cv.fit_transform(x)

In [10]:
xtrain, xtest, ytrain, ytest = train_test_split(x,
                                                y,
                                                test_size = 0.2,
                                                random_state = 42)

In [11]:
bernoulli_model = BernoulliNB()
bernoulli_model.fit(xtrain, ytrain)
bernoulli_model.score(xtrain, ytrain)

0.8603351955307262

In [12]:
multinomial_model = MultinomialNB()
multinomial_model.fit(xtrain, ytrain)
multinomial_model.score(xtrain, ytrain)

0.9581005586592178

In [19]:
sample = input("Enter a Comment: ")
data = cv.transform([sample]).toarray()
bernoulli_pred = bernoulli_model.predict(data)
multinomial_pred = multinomial_model.predict(data)
print(f"Bernoulli Naive Bayes Prediction: {bernoulli_pred}")
print(f"Multinomial Naive Bayes Prediction: {multinomial_pred}")

Enter a Comment:  Check this out: https://spam.com/data

Bernoulli Naive Bayes Prediction: ['Spam Comment']
Multinomial Naive Bayes Prediction: ['Spam Comment']