In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
import getpass as gp

import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter("ignore")
print("Successfully Imported Library")

Successfully Imported Library

In [2]:
data = pd.read_csv("password_data.csv", on_bad_lines = 'skip')

In [3]:
data

            password  strength
0           kzde5577         1
1           kino3434         1
2          visi7k1yr         1
3           megzy123         1
4        lamborghin1         1
...              ...       ...
669635    10redtux10         1
669636     infrared1         1
669637  184520socram         1
669638     marken22a         1
669639      fxx4pw4g         1

[669640 rows x 2 columns]

In [4]:
data.isnull().any()

password     True
strength    False
dtype: bool

In [5]:
data = data.dropna()

In [6]:
data.strength = data.strength.map({0:"Weak", 1:"Moderate", 2:"Strong"})
data.sample(10)

              password  strength
543630  D4y4n4o5o4i989    Strong
176052      qfcpfb2dqg  Moderate
237715       63736373a  Moderate
486699          we0112      Weak
195774       fkvrcin15  Moderate
250701      thienthu78  Moderate
346738    xll56yljppu6  Moderate
190808  DYseXImoPYr957    Strong
245774        josyw405  Moderate
74170          iz6lo8i      Weak

In [7]:
def word(password):
    char = []
    for i in password:
        char.append(i)
    return char

x = np.array(data["password"])
y = np.array(data["strength"])

In [8]:
tdif = TfidfVectorizer(tokenizer=word)
x = tdif.fit_transform(x)

In [9]:
xtrain, xtest, ytrain, ytest = train_test_split(x,
                                                y,
                                                test_size = 0.05,
                                                random_state = 42)

In [10]:
rf_model = RandomForestClassifier()
rf_model.fit(xtrain, ytrain)
rf_model.score(xtrain, ytrain)

0.9997296264915736

In [11]:
dt_model = DecisionTreeClassifier()
dt_model.fit(xtrain, ytrain)
dt_model.score(xtrain, ytrain)

0.9997296264915736

In [12]:
user = gp.getpass("Enter Password: ")
data = tdif.transform([user]).toarray()
rf_output = rf_model.predict(data)
dt_output = dt_model.predict(data)
print(f"RandomForestClassifier: {rf_output}")
print(f"DecisionTreeClassifier: {dt_output}")

Enter Password:  Â·Â·Â·Â·Â·Â·Â·Â·

RandomForestClassifier: ['Weak']
DecisionTreeClassifier: ['Weak']